{% extends "template2.html" %} {% block title %}Cash Payment{% endblock %}

{% block content %}
<!-- Blogs Section -->
<section id="blogs">
    <div class="blogs container">
        <div class="blogs-top">
            <h1 class="section-title">You have Chosen the <span>CASH</span> Option!</h1>
            <p>Please pay for your order during pickup.</p>
            <div class="d-flex justify-content-center mt-5">
                <a href="{{ url_for('views.thank_you') }}" class="btn btn-success btn-lg">Continue</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}