{% extends "template.html" %} {% block title %}Q&A Create{% endblock %}
{% block content %}
<!-- Bootstrap Carousel -->
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="{{ url_for('static', filename='assets/img/qaslide1.jpeg') }}" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Send through</h2>
                <h1 class="display-1 fw-bolder text-capitalize">Your Questions!</h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide1.jpg') }}" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Make your order</h2>
                <h1 class="display-1 fw-bolder text-capitalize">Today!</h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide3.jpg') }}" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Make your order</h2>
                <h1 class="display-1 fw-bolder text-capitalize">And Simply Collect!</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- End Bootstrap Carousel -->

<h1 align="center">Write your Tuckshop Question or Suggestion</h1>
<form method="POST">
    <textarea name="text" id="text" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Post</button>
    </div>
</form>
<br />
<div align="center">
    <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
</div>
{% endblock %}