{% extends "template.html" %} {% block title %}Payment Option{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5">How would you like to pay?</h1>
    <div class="d-flex justify-content-center mt-5">
        <button onclick="window.location.href='{{ url_for('views.cash_payment') }}'">Cash</button>
        <button onclick="window.location.href='{{ url_for('views.card_payment') }}'">Card</button>
    </div>
</div>

<form method="POST" action="{{ url_for('payment_option') }}">
    <div class="form-group">
        <label for="payment_type">Choose Payment Option:</label>
        <select class="form-control" id="payment_type" name="payment_type">
            <option value="Credit Card">Credit Card</option>
            <option value="Cash">Cash</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<script>
    document.getElementById('cashOption').addEventListener('click', function () {
        window.location.href = "{{ url_for('views.cash_payment') }}";
    });

    document.getElementById('cardOption').addEventListener('click', function () {
        window.location.href = "{{ url_for('views.card_payment') }}";
    });
</script>
{% endblock %}