{% extends "template2.html" %} {% block title %}Order Finished{% endblock %}

{% block content %}
<!-- Page Setup Section -->
<section id="pagesetup">
    <div class="pagesetup container">
        <div class="pagesetup-top">
            <h1 class="section-title"><span>THANK YOU </span>for Ordering!</h1>
            <p>Your order has been successfully placed. ✅</p>
            <a href="/home" class="cta">Back to Home</a>
            <a href="/order" style="margin-left: 10px;" class="cta">Make Another Order</a>
        </div>
    </div>
</section>
{% endblock %}