{% extends "template.html" %} {% block title %}Home{% endblock %}

{% block content %}
<!-- Bootstrap Carousel -->
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide2.jpg') }}" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Welcome to the</h2>
                <h1 class="display-1 fw-bolder text-capitalize">SMC Tuckshop Orders</h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide1.jpg') }}" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Make your order</h2>
                <h1 class="display-1 fw-bolder text-capitalize">Today!</h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide3.jpg') }}" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Make your order</h2>
                <h1 class="display-1 fw-bolder text-capitalize">And Simply Collect!</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Blogs Section -->
<section id="blogs">
    <div class="blogs container">
        <div class="blogs-top">
            <h1 class="section-title"><span>G</span>etting <span>S</span>tarted</h1>
            <p>Welcome to the SMC Tuckshop Orders page!</p>
            <p>Using this website, you can create your food order online and have it prepared for a quick and easy pickup during lunchtime or interval!</p>
        </div>
        <div class="blogs-bottom">
            <div class="blogs-item">
                <div class="icon">
                    <img src="{{ url_for('static', filename='assets/img/icons8-1-100.png') }}" alt="Icon1">
                </div>
                <h2>Order</h2>
                <p>Head to the 'Order' page and create your order by adding all the items to your cart!</p>
            </div>
            <div class="blogs-item2">
                <div class="icon">
                    <img src="{{ url_for('static', filename='assets/img/icons8-2-100.png') }}" alt="Icon2">
                </div>
                <h2>Finish</h2>
                <p>Make your payment and you will have your order placed for pickup.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}