{% extends "template2.html" %} {% block title %}Contact{% endblock %}

{% block content %}
<!-- Menu Section -->
<section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title" style="margin-bottom: 100px;">Menu</h1>
        <h3 class="section-title-contact" style="margin-top: -80px; font-size: 18px;">Here is our current selection of foods and drinks at the SMC tuckshop!</h3>
        <p class="section-title-contact" style="margin-top: -40px; font-size: 18px;">Got any suggestions? Post them in the Q&A / Suggestions page!</p>
      </div>
      <!-- Menu Image -->
      <div class="footerlogo">
        <img src="static/assets/img/tuckshopmenu.jpg" style="margin-top: -120px; padding: 100px;" alt="Tuckshop Menu">
      </div>
    </div>
</section>
<!-- End Menu Section -->
{% endblock %}