{% extends "template.html" %} {% block title %}Home{% endblock %}{% block content %}
<!-- Bootstrap Carousel -->
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide2.jpg') }}" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">This Page is for</h2>
                <h1 class="display-1 fw-bolder text-capitalize">Q&A and Suggestions!</h1>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="{{ url_for('static', filename='assets/img/smcslide1.jpg') }}" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-3">
                <h2 class="text-uppercase">Have a question you want answered?</h2>
                <h1 class="display-1 fw-bolder text-capitalize">Create a post!</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Posts Section -->
<section id="postssection">
    <h1 align="center">{% block header %}Posts{% endblock %}</h1>
    <div id="posts" class="mx-auto" style="font-size: 16px;">
        {% for post in posts %}
        <div class="card border-dark">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}"> <!-- This is for the profile picture. -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
                <div><!-- this is a new div for thumbs up -->
                    <span id="likes-count-{{post.id}}">
                        {{ post.likes|length }}</span>
                        {% if user.id in post.likes|map(attribute="author")|list %}
                        <i
                            class="fas fa-thumbs-up"
                            id="like-button-{{post.id}}"
                            onclick="like({{post.id}})"
                        ></i>
                        {% else %}
                        <i
                            class="far fa-thumbs-up"
                            id="like-button-{{post.id}}"
                            onclick="like({{post.id}})"
                        ></i>
                        {% endif %}
                    {% if user.id == post.author %}
                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-sm btn-primary dropdown-toggle"
                            data-toggle="dropdown">
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/delete-post/{{post.id}}" class="dropdown-item" style="color: white;">Delete</a>
                            </li>
                            <li>
                                <a href="/update-post/{{post.id}}" class="dropdown-item" style="color: white;">Update</a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div><!-- this is end of new div for thumbs up. -->
            </div>
            <section id="commentingsection">
                <div class="card-body">
                    <div class="card-text post-title">{{post.title}}</div>
                    <br />
                    <div class="card-text" style="font-size: 16px;">{{post.text}}</div>
                    <br />
                    <div class="collapse" id="comments-{{post.id}}">
                        <div class="card">
                            <div class="card-body" id="comments-expanded-{{post.id}}">
                                {% for comment in post.comments %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="/posts/{{comment.user.username}}"
                                        >{{comment.user.username}}</a
                                        >: {{comment.text}}
                                    </div>
                                    <div class="workwork">
                                        <small class="text-muted"> {{comment.date_created}}</small>
                                        {% if user.id == comment.author or user.id == post.author %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a
                                                        href="/delete-comment/{{comment.id}}"
                                                        class="dropdown-item"
                                                        >Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <p class="card-text" style="font-size: 16px;">
                        {% if post.comments|length > 0 %}
                        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button" style="font-size: 16px;">
                            <small>View {{post.comments|length}} Comments</small>
                        </a>
                        {% else %}
                        <small class="text-muted">No Comments</small>
                        {% endif %}
                    </p>
                    <form
                    class="input-group mb-3"
                    method="POST"
                    action="/create-comment/{{post.id}}"
                    >
                        <input
                            type="text"
                            id="text"
                            name="text"
                            class="form-control"
                            placeholder="Comment something!"
                            style="font-size: 14px;"
                        />
                        <button type="submit" class="btn btn-primary" style="font-size: 14px;">Comment</button>
                    </form><!-- this is the end of comment divs. -->
                </div>
            </section>
            <div class="card-footer text-muted">{{post.date_created}}</div>
        </div>
        <br/ >
        {% endfor %}
    </div>
</section>

<!-- Paginating -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-outline-info mb-4" style="margin-left: 20px;" href="{{ url_for('views.blog', page=page_num)}}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" style="margin-left: 20px;" href="{{ url_for('views.blog', page=page_num)}}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}




{% block footer %}
<br/>
<!-- Added the Section -->
<section id="createapostbutton" class="mt-5">
    <div align="center">
        <a href="/create-post"
            ><button type="button" class="btn btn-primary btn-lg">
                Create a Post
            </button></a>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
crossorigin="anonymous">
</script>
{% endblock %} {% endblock %}